<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Carreras Populares. CarreraPopular.com</title>
	<meta name="description" content="Calendario de Próximas Carreras Populares en España. CarreraPopular.com" />
	<meta name="author" content="Jorge Moreno aka moro, moro.es (@alterebro)" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
	<!--[if IEMobile]><meta http-equiv="cleartype" content="on" /><![endif]-->
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<meta name="format-detection" content="telephone=no" />
	<meta name="format-detection" content="address=no" />
	<meta name="google" content="notranslate" />
	<meta name="robots" content="index, follow" />

	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="theme-color" content="#de4d2d" />
	<meta name="msapplication-navbutton-color" content="#de4d2d" />
	<meta name="msapplication-TileColor" content="#de4d2d" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-title" content="CarreraPopular.com - Carreras Populares" />

	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" />
	<link rel="stylesheet" type="text/css" href="app/css/app.css" />
</head>
<body id="app">

<div id="preload" v-if="loading" transition="loading">
	<p>
		<strong>CarreraPopular.com</strong>
		<br />Calendario de Carreras Populares en España.
		<br>Cargando Listado...
	</p>
</div>

<header>
	<div id="header">
		<h1><a @click.prevent="do_reset" href="#!/"><strong>CarreraPopular</strong>.com</a></h1>
		<select v-model="selected_region">
			<option value="">Filtrar por Comunidad</option>
			<option v-for="region in regions" v-bind:value="region">{{ region }}</li>
			<option value="">Todas las Comunidades</option>
		</select><select v-model="selected_distance">
			<option value="">Filtrar por Distancia</option>
			<option v-for="distance in distances" v-bind:value="distance.value">{{ distance.text }}</option>
			<option value="">Todas las Distancias</option>
		</select><select v-model="selected_date">
			<option value="">Filtrar por Fecha</option>
			<option v-for="month in months" v-bind:value="month">{{ month | month_yymm }}</option>
			<option value="">Todas las Fechas</option>
		</select>
	</div>
</header>

<div id="modal-window" v-if="current_item.name" transition="modal" v-bind:class="current_item.name ? 'visible' : 'hidden'">
	<div id="modal-window-inner">
		<h2><strong>{{ current_item.name }}</strong></h2>
		<h3>
			{{ current_item.location }}, {{ current_item.province }} ({{ current_item.region }})
		</h3>
		<h4>
			{{ current_item.date_.weekday | date_w }},
			{{ current_item.date_.day }} de {{ current_item.date_.month | date_m }} del {{ current_item.date_.year | date_y }}
			<span v-if="current_item.time">@{{ current_item.time }}</span>
		</h4>
		<div v-if="current_item.distance | distance_num" class="current-item-distance">
			<strong>{{ current_item.distance }}</strong>
			<small>Km.</small>
		</div>

		<dl>
			<dt>Más información</dt>
			<dd>
				<ul>
					<li v-if="current_item.web">Website: <a v-bind:href="current_item.web" v-bind:title="current_item.name" target="_blank">{{ current_item.web }}</a></li>
					<li v-if="current_item.phone">Teléfono: {{ current_item.phone }}</li>
					<li v-if="current_item.organizer">Organizador: {{ current_item.organizer }}</li>
					<li v-if="current_item.address">Lugar de Salida: {{ current_item.address }}</li>
					<li v-if="current_item.distances > 1 || current_item.distance == 'Varias distancias'">Carrera con varias distancias</li>
					<li v-if="current_item.description">{{{ current_item.description }}}</li>
				</ul>
			</dd>
		</dl>
		<div class="current-item-close"><a @click="enroute(0)" href="#!/">&times;</a></div>
	</div>
</div>

<main>
	<h2>
		Carreras Populares en {{ selected_region == '' ? 'España' : selected_region }}
		<span v-if="selected_date"> &middot; {{ selected_date | month_yymm }}</span>
		<small v-if="selected_distance | distanceValue">({{ selected_distance | distanceValue }})</small>
	</h2>
	<h3 v-if="filtered_items.length == 0">Ningún resultado :(</h3>
	<dl id="race-list">
		<template v-for="item in filtered_items">
			<dt v-if="!filtered_items[$index-1] || filtered_items[$index].date_.yymmdd != filtered_items[$index-1].date_.yymmdd">
				<strong>{{ item.date }}</strong>
				<span v-bind:data-day="item.date_.day" v-bind:data-month="item.date_.month | es_month"></span>
			</dt>
			<dd>
				<h3>
					<a @click="enroute(item.slug)" v-bind:href="'#!/' + item.slug">{{ item.name }}</a>
					<span v-if="!isNaN(item.distance) && item.distance != 0"><strong>{{ item.distance }}</strong> Kilometros</span>
				</h3>
				<p>
					<strong>{{ item.location }}</strong><br />
					<em>
						<span v-if="item.location != item.province">{{ item.province }}</span>
						<span v-if="item.location != item.province && item.province != item.region" > &middot; </span>
						<span v-if="item.province != item.region">{{ item.region }}</span>
					</em>
				</p>
			</dd>
		</template>
	</dl>
</main>

<footer>
	<p><strong>CarreraPopular</strong>.com &copy; 2016. Diseño y Desarrollo: Jorge Moreno (<strong><a href="https://twitter.com/alterebro" target="_blank" title="Diseño y Desarrollo Web">@alterebro</a></strong>)</p>
</footer>

<!-- build:js app/js/app.min.js -->
<script type="text/javascript" src="app/js/vue.min.js"></script>
<script type="text/javascript" src="app/js/app.js"></script>
<!-- endbuild -->
</body>
</html>
